# fly.toml app configuration file generated for yum-list-aged-water-5075 on 2024-09-12T18:17:17-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yum-list-aged-water-5075'
primary_region = 'yyz'
console_command = '/rails/bin/rails console'

[build]
  build_command = "RAILS_ENV=production rails assets:precompile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/rails/public'
  url_prefix = '/'
