<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <h2 class="pt-4 text-2xl font-semibold text-[--color--text--primary]">
      Dashboard
    </h2>

    <p class="pt-4 text-base font-semibold text-[--color--text--primary]">
      Vous avez <%= pluralize(current_user.restaurants.count, "restaurant") %> dans votre liste.
    </p>

    <% grouped_restaurants = current_user.restaurants.group_by(&:category) %>
    <ul class="list-disc pl-5 pt-2 text-sm text-[--color--text--primary]">
      <% grouped_restaurants.each do |category, restaurants| %>
        <li>
          <%= pluralize(restaurants.count, "restaurant") %> dans la catégorie <%= category %>.
        </li>
      <% end %>
    </ul>

    <%= link_to logout_path, method: :get, data: { confirm: "Êtes-vous sûr de vouloir vous déconnecter ?" }, class: "w-fit text-[--color--red] hover:text-[--color--burgundy] mt-4 bg-white transition duration-200 ease-in-out group flex gap-x-3 rounded-full px-4 py-2 text-sm leading-6 font-semibold" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor">
            <path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 12h7m0 0-3 3m3-3-3-3M19 6V5a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1"></path>
        </svg>
        <span class="truncate">Log out</span>
    <% end %>

  </div>
</main>
