<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <h2 class="pt-4 text-2xl font-semibold text-[--color--text--primary]">
      Dashboard
    </h2>

    <p class="pt-4 text-base font-semibold text-[--color--text--primary]">
      Vous avez <%= pluralize(current_user.restaurants.count, "restaurant") %> dans votre liste.
    </p>

  </div>
</main>
