<% if notice %>
        <div class="w-max left-[50%] -translate-x-2/4 rounded-full px-3 py-1 text-sm leading-6 text-[--color--red] border-2 border-[--color--red] absolute bottom-24" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <%= notice %>
        </div>
<% end %>
<% if alert %>
        <div class="w-max left-[50%] -translate-x-2/4 rounded-full px-3 py-1 text-sm leading-6 text-[--color--red] border-2 border-[--color--red] absolute bottom-24" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <%= alert %>
        </div>
<% end %>
