<div class="container">
  <h1 class="text-3xl font-bold mx-auto w-full"><%= @welcome_message %></h1>
  <% if user_signed_in? %>
    <%= link_to "Se déconnecter", logout_path, method: :get, data: { confirm: "Êtes-vous sûr de vouloir vous déconnecter ?" }, class: "btn-primary-outline" %>
  <% else %>
    <%= link_to "Se connecter", new_user_session_path, class: "btn-primary" %>
  <% end %>
</div>
