<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="addFriendModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title mt-4" id="addFriendModalLabel">Add a Friend</h5>
        </div>
        <div class="modal-body">
            <%= form_with url: friendships_path, method: :post, local: true do |form| %>
            <div class="form-group">
                <%= form.label :email, "Friend's Email" %>
                <%= form.text_field :email, class: 'form-control', required: true %>
            </div>

            <%= form.submit "Send Friend Request", class: 'btn btn-primary' %>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
