<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="addFriendModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title pt-4 text-2xl font-semibold text-[--color--text--primary] mb-4" id="addFriendModalLabel">Add a Friend</h5>
        </div>
        <div class="modal-body">
            <%= form_with url: friendships_path, method: :post, html: { class: "flex flex-col gap-2" }, local: true do |form| %>
            <div class="form-group">
                <div class="flex flex-col mb-2">
                    <%= form.label :email, "Friend's Email", class: "mb-1 font-semibold" %>
                    <%= form.text_field :email, class: 'form-control border-0 rounded-full p-4', required: true %>
                </div>
            </div>

            <%= form.submit "Send Friend Request", class: 'w-fit text-white bg-[--color--red] hover:bg-[--color--burgundy] transition duration-200 ease-in-out group flex gap-x-3 rounded-full py-2 px-4 text-sm leading-6 font-semibold' %>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
