<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <h1 class="my-4 pt-4 text-2xl font-semibold text-[--color--text--primary]">Pending Friend Requests</h1>

    <% if @pending_requests.any? %>
    <ul>
        <% @pending_requests.each do |request| %>
        <li class="flex flex-col gap-1 relative overflow-hidden p-4 my-6 text-base rounded-xl font-semibold text-white bg-[--color--red]">
            <% if request.user.name.present? %>
                <%= request.user.name %>
            <% else %>
                <%= request.user.email %>
            <% end %>
            <div class="flex gap-4">
                <%= button_to 'Accept', accept_friendship_path(request.id), method: :patch, class: 'flex items-center gap-2 text-sm font-light text-[--color--red] bg-white hover:bg-white/50 rounded-full p-2 mt-2' %>
                <%= link_to 'Reject', reject_friendship_path(request.id), method: :delete, class: 'flex items-center gap-2 text-sm font-light text-white bg-transparent border border-white hover:bg-white/20 rounded-full p-2 mt-2' %>
            </div>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>No pending friend requests.</p>
    <% end %>

  </div>
</main>
