<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-6 text-xl font-semibold leading-9 tracking-tight text-[#333]">Categories</h2>
    </div>

    <div class="grid grid-cols-2 gap-3 mt-4">
    <% @categories.each do |category| %>
        <div class="categories__cards [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.2)] flex flex-col-reverse justify-between border gap-2 relative overflow-hidden p-4 text-base rounded-xl font-light text-white">
            <%= link_to category, restaurants_path(query: category) %>
            <div>
            <% case category %>
            <% when "Pizza" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color=""><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="m14 9.01.01-.011M8 8.01l.01-.011M8 14.01l.01-.011"></path><path stroke="currentColor" stroke-width="1" d="M6 19 2.236 3.004a.6.6 0 0 1 .754-.713L19 7"></path><path stroke="currentColor" stroke-width="1" stroke-linecap="round" d="M22.198 8.425a1.75 1.75 0 0 0-3.396-.85c-.391 1.568-1.9 4.05-4.227 6.375-2.3 2.301-5.148 4.194-7.968 4.845a1.75 1.75 0 1 0 .787 3.41c3.68-.849 7.082-3.206 9.656-5.78 2.549-2.549 4.54-5.568 5.148-8Z"></path></svg>
            <% when "Japanese" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path><path stroke="currentColor" stroke-width="1" d="M2 12h7M15 12h7"></path></svg>
            <% when "Korean" %>
                <?xml version="1.0" encoding="UTF-8"?><svg style="width:3rem;height:3rem;" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M14 18V20C14 21.1046 13.1046 22 12 22V22C10.8954 22 10 21.1046 10 20V18" stroke="currentColor" stroke-width="1"></path><path d="M5 12H19" stroke="currentColor" stroke-width="1"></path><path d="M7.00084 17.9994C5.89594 17.9996 5 17.1041 5 15.9992L5 8.99975C5 5.13375 8.13401 1.99975 12 1.99975C15.866 1.99975 19 5.13375 19 8.99975V15.9997C19 17.1043 18.1046 17.9997 17 17.9997C13.6669 17.9994 10.3339 17.9986 7.00084 17.9994Z" stroke="currentColor" stroke-width="1"></path></svg>
            <% when "Ramen" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2m0 20C6.5 22 2 17.5 2 12S6.5 2 12 2m0 20V12m0-10v10m0 0 5 5.5M12 12l5-5m-5 5h7"></path></svg>
            <% when "BBQ" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M8.5 14.5 5 22M8 6s1-1.061 1-2c0-1.333-1-2-1-2M12 6s1-1.061 1-2c0-1.333-1-2-1-2M16 6s1-1.061 1-2c0-1.333-1-2-1-2"></path><path stroke="currentColor" stroke-width="1" stroke-linejoin="round" d="M16.5 17.5h-9"></path><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="m15.5 14.5 2.1 4.5M18.5 22a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path><path stroke="currentColor" stroke-width="1" d="M12 15a7 7 0 0 0 6.975-6.4.563.563 0 0 0-.575-.6H5.6a.563.563 0 0 0-.575.6A7 7 0 0 0 12 15Z"></path></svg>
            <% when "Sushi" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M10.5 9s0-2-1-4c4 0 6.5 2.5 6.5 2.5s3.5-.5 6 4.5c-1 5.5-6 6-6 6l-4 2.5v-3c-2.5-1-5-3.5-5-5S10.5 9 10.5 9Zm0 0s1-.5 2-.5M2 9.5l1 3-1 3s5 0 5-3-5-3-5-3ZM17 12.01l.01-.011"></path></svg>
            <% when "Brunch" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M12 22a8 8 0 0 0 8-8c0-4.418-3.582-12-8-12S4 9.582 4 14a8 8 0 0 0 8 8Z"></path></svg>
            <% when "Burger" %>
                <?xml version="1.0" encoding="UTF-8"?><svg style="width:3rem;height:3rem;" width="24px" height="24px" stroke-width="1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M3 5H21" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <% when "Vegan" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M7 21s.5-4.5 4-8.5"></path><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="m19.13 4.242.594 6.175c.374 3.886-2.54 7.346-6.425 7.72-3.813.367-7.267-2.42-7.634-6.233a6.936 6.936 0 0 1 6.239-7.569l6.571-.632a.6.6 0 0 1 .655.54Z"></path></svg>
            <% when "Indian" %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M7 20V9S3 4 9.5 4H17c7 0 3 5 3 5v9a2 2 0 0 1-2 2H7Z"></path><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M7 20H6a2 2 0 0 1-2-2V9S0 4 6.5 4H10"></path></svg>
            <% else %>
                <svg style="width:3rem;height:3rem;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M6 20h3m3 0H9m0 0v-5M17 20v-8s2.5-1 2.5-3V4.5M17 8.5v-4M4.5 11c1 2.128 4.5 4 4.5 4s3.5-1.872 4.5-4c1.08-2.297 0-6.5 0-6.5h-9s-1.08 4.203 0 6.5Z"></path></svg>
            <% end %>
            </div>
        </div>
    <% end %>
    </div>
</div>
</main>
