@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vercetti-Regular';
    src: url('/assets/Vercetti-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --color--primary: #f5f5f5;
  --color--primary--hover: #e6e5d8;
  --color--red: #b1454a;
  --color--red-secondary: #f4858a;
  --color--burgundy: #8D021F;
  --color--orange: #b86d36;
  --color--green: #7a6b44;
  --color--text--primary: #333;
  --color--text--secondary: #514d46;
  --font-family--primary: 'Vercetti-Regular';
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari, etc.) */
}

html,
body {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  /* font-family: var(--font-family--primary), sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Encode Sans", sans-serif; */
}

body {
  background-color: var(--color--primary);
  height: 100vh;
}

main {
  overflow: hidden;
}

.yum-list__logo {
    transform: translate(-50%, -50%);
    animation: grow 2s forwards;
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.select__edit #restaurant_rating {
    padding: 6px 12px;
    width: 100%;
    border-radius: 50px;
    border: none;
}

.last-restaurant__card svg {
  width: 6rem;
  height: 6rem;
}

.restaurant__card svg {
    filter: hue-rotate(0deg);
}

.restaurant__card svg,
.dashboard__card svg,
.categories__cards svg,
.friends-restaurant__cards svg {
    width: 4rem;
    height: 4rem;
}
.categories__cards svg {
    margin-left: auto;
}

.single__card a svg,
.dashboard__card a svg,
.sign__up--page svg,
.restaurant__card span svg {
  width: 1.5rem;
  height: 1.5rem;
}
.single__card svg {
  width: 8rem;
  height: 8rem;
}

.categories__cards {
    position: relative;
}
.categories__cards > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.categories__container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.is-active {
  background-color: rgb(31, 41, 55);
  color: #fff !important;
}

/* #restaurant_rating, #restaurant_category {
  padding: 0.375rem 2.5rem 0.375rem 0.75rem;
  border: none;
  background-color: #fff;
  color: var(--color--text--primary);
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  width: 100%;
} */

#restaurant_rating:focus {
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.6);
}

.categories__titles {
  color: var(--color--text--secondary);
  font-size: clamp(60px, 14vw, 280px);
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-family--primary);
  width: 500vw;
  /* animation de déroulement infini */
  animation: defilement 20s linear infinite;
}

@keyframes defilement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer components {
  .btn-primary {
    @apply rounded-md bg-[--color--burgundy] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[--color--burgundy] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[--color--burgundy] hover:cursor-pointer transition duration-200 ease-in-out;
  }

  .btn-secondary {
    @apply rounded-md bg-indigo-50 px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100 transition duration-200 ease-in-out;
  }

  .btn-outline {
    @apply rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-indigo-600 hover:text-white shadow-sm ring-2 ring-inset ring-indigo-600 hover:bg-indigo-600 transition duration-200 ease-in-out;
  }

  .btn-delete {
    @apply rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 transition duration-200 ease-in-out;
  }

  .btn-text {
    @apply rounded-md bg-white py-2.5 text-sm font-semibold text-indigo-600 hover:text-indigo-500 transition duration-200 ease-in-out;
  }
}

.inner {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .inner {
    width: 90%;
  }
}

/* .btn-primary {
  padding: 0.5rem 1rem;
  background-color: #3182ce;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #4299e1;
}

.btn-primary-outline {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #3182ce;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #3182ce;
  transition: all 0.15s ease-in-out;
}

.btn-primary-outline:hover {
  background-color: #3182ce;
  color: #fff;
} */
