<h1>Welcome to My Awesome Site, <%= @user.email %>!</h1>
<p>
  You have successfully signed up to our site.
</p>
<p>
  To log in to your account, click the link below:
</p>
<p><%= link_to 'Login', @url %></p>
